@import "./global";
@import "./font";

.header {
  padding-top: 1.6rem;
  padding-bottom: 5.4rem;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  .header__contact {
    display: flex;
    align-items: center;
    gap: 3.3rem;
    .contact__link {
      color: rgb(21, 21, 21);
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0%;
    }
    .contact__link:nth-child(1) {
      color: rgb(106, 152, 60);
    }
  }
}
.line {
  border: 1px solid rgb(21, 21, 21);
  opacity: 0.05;
}
.sitenav__list {
  display: flex;
  align-items: center;
  gap: 3.8rem;
  .sitenav__link {
    color: rgb(106, 152, 60);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    transition: 0.4s linear;
    &:hover {
      color: rgb(21, 21, 21);
      font-weight: 500;
    }
  }
}
.header__center {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-link {
    margin-right: 15.8rem;
  }
}
.header__search {
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 1rem 1.6rem 9px 1.6rem;
  box-sizing: border-box;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 12px;
  background: rgb(249, 249, 249);
  width: 500px;
  .header__select {
    border-right: 1px solid rgb(209, 209, 209);
    padding-right: 2.4rem;
    margin-right: 2.3rem;
    color: rgb(21, 21, 21);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    .icon-arrow {
      margin-left: 0.8rem;
    }
  }
  .search {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    input {
      background: transparent;
      width: 262px;
      color: rgb(21, 21, 21);
      font-weight: 600;
    }
    ::placeholder {
      color: rgb(169, 169, 169);
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0%;
    }
  }
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 4rem;
  .shop-link {
    position: relative;
  }
  .shop__num {
    position: absolute;
    top: 15px;
    left: -5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(230, 112, 75);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}
.header__bottom {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 55px;
  background: rgb(249, 249, 249);
  .sitenav2__list {
    position: relative;
    display: flex;
    gap: 4rem;
  }
  .sitenav2__item {
    float: left;
    position: relative;
  }
  .sitenav2__link {
    color: rgb(21, 21, 21);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.4s linear;
    padding: 1.6rem 0;
    &:hover {
      color: rgb(106, 152, 60);
    }
  }
  .sitenav2__item ul {
    left: -15px;
    position: absolute;
    width: 185px;
    background: rgb(106, 152, 60);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    display: none;
    a {
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }
    li {
      margin-bottom: 1rem;
      position: relative;
      width: 100%;
    }
  }
  .sitenav2__item:hover ul {
    display: block;
  }
}
